<div class="ten wide column">
<h1>Not Approved Comments</h1>
</div>
<div class="ten wide column ui comments">
  <% if @comments.empty? %>
    <div class="ui warning message">
      <div class="header">There are no comments to approve.</div>
    </div>
  <% else %>
    <div id="comments">
      <%= render partial: 'comments/comment_block', collection: @comments, as: :comment %>
    </div>
  <% end %>
</div>