<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.full_name || @user.email%></p>
    <p>Your password was succesfully changed! Thanks for being in our family!</p>
  </body>
  </footer>
    <p>All Rights Reserved | Merlos SnackStore</p>
  </footer>
</html>