<div class = 'ui reply form'>
<%= form_for [@commentable, @comment], remote: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="field">
    <%= f.text_area :body, id:"comment_content", style: "height: 2em;", required: true %>
  </div>
  <div class="inline field">
    <% unless @commentable.class.name == "Order" %>
      <div id= "rating" style="float: right;">
        <div class="ui heart rating" data-rating="0" data-max-rating="5"></div>
      </div>
        <%= f.hidden_field :rating %>
    <% end %>
     <%= f.submit 'Add Comment', class: 'ui primary button'%>
  </div>
<% end %>
</div>
<script>
  $(".ui .rating").rating('setting', 'onRate', function(value)
    { $("#comment_rating").val(value); });
</script>