  <div class="comment">
    <div class="content">
      <a class="author">
      <% author = "#{comment.user&.profile&.first_name} #{comment.user&.profile&.last_name}" %>
      <%= link_to "#{author.strip.empty? ? comment.user_email : author}", comment.user %>
      </a>
      <div class="metadata">
        <span class="date"><%= comment.time_ago %> ago.</span>
        <% if user_signed_in? %>
        <span class="approved"><%= comment.approved? %></span>
        <% end %>
        <% unless comment.rating.nil?%>
          <span class="rating">
            <% comment.rating.times do %>
               <i class="heart icon"></i>
            <%end%>
          </span>
        <% end %>
      </div>
      <div class="text">
        <%= comment.body %>
      </div>
      <div class="actions">
        <% if user_signed_in? && (current_user == comment.user || current_user.admin?) %>
          <%= link_to "Delete", [comment.commentable, comment], data: {confirm: "Are you sure?", method: "delete"}, remote: true %>
        <% end %>
        <% if user_signed_in? && !current_user.regular? && comment.approved? == "Pending" %>
          <%= link_to "Approve", [comment.commentable, comment], method: 'put', remote: true %>
        <% end %>
      </div>
    </div>
  </div>