(function init() {
  document.querySelector("#comments").innerHTML =
    '<%= escape_javascript(render(partial: 'comments/comment_block', collection: @comments, as: :comment)) %>';
  document.querySelector("#comment_content").value = '';
  document.querySelector("#rating").innerHTML =
    '<div class="ui heart rating" data-rating="0" data-max-rating="5"></div>';
  $(".ui .rating").rating('setting', 'onRate', function(value)
    { $("#comment_rating").val(value); });
  document.querySelector("#comment_rating").value = null;
})()