<div class="ten wide column">
<h1>Product Logs</h1>
</div>
<div class="sixteen wide column">
<%if !@product_logs.nil?%>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Modified By</th>
        <th>Modified At</th>
      </tr>
    </thead>

    <tbody>
      <% @product_logs.each do |ppl| %>
        <tr>
          <td><%= ppl.product.name %></td>
          <td><%= ppl.admin.email %></td>
          <td><%= ppl.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%else%>
  <p> There is no product price logs </p>
<%end%>
</div>