<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.full_name || @user.email %>, Hurry up!</h1>
    <p>The product <%= @product.name %> has only <%= @product.stock %> items left on stock! </p>
    <p>Be sure to go to our website and buy it before we no longer have it!</p>
  </body>
  </footer>
    <p>All Rights Reserved | Merlos SnackStore</p>
  </footer>
</html>