<div class="ten wide column">
<h1>Orders Log</h1>
</div>
<div class="sixteen wide column">
<table class="ui celled table">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Status</th>
      <th>Total</th>
      <th>Customer ID</th>
      <th>Started at</th>
      <th>Last modified at</th>
      <th>Completed at</th>
      <th>More Details</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td class="<%= order.status == 'complete' ? 'positive' : 'warning'%>"><%= order.status %></td>
        <td><%= order.total %></td>
        <td><%= order.user_id %></td>
        <td><%= order.created_at %></td>
        <td><%= order.updated_at %></td>
        <td><%= order.completed_at %></td>
        <td><%= link_to 'Show', admin_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>