<div class="ten wide column">
<h1>Order #<%= @order.id %> Details</h1>
</div>
<div class="sixteen wide column">
<table class="ui celled table">
  <thead>
    <tr>
      <th>Order Line ID</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.id %></td>
        <td><%= order_line.product_name %></td>
        <td><%= order_line.price %></td>
        <td><%= order_line.quantity %></td>
        <td><%= order_line.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui warning message">
  <div class="header">Order Total: <%= number_to_currency @order.total %></div>
</div>
</div>
<div class="ten wide column ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div id="comments">
    <%= render partial: 'comments/comment_block', collection: @comments, as: :comment %>
  </div>
  <%= render partial: 'comments/comment_form' %>
</div>