<div class="ui people shape">
  <div class="ui card">
    <div class="image"><img src=""></div>
    <div class="content">
      <div class="header">
      <%= link_to user.profile&.full_name || "Not Profiled", user, class: "ui small header" %>
      </div>
      <div class="meta"> Joined <%= user.time_ago %> ago.</div>
      <div class="meta"><%= user.email %></div>
    </div>
    <div class="extra content">
      <span><i class="red heart icon"></i></span>
    </div>
    <div class="extra content">
      <span class="right floated">
        <% if user == current_user %>
          <%= link_to 'Settings', edit_my_profile_user_path(current_user), class: 'positive ui button' %>
        <% end %>
      </span>
    </div>
  </div>
</div>