<div id="sidebar" class="two wide column">
</div>
<div class="fourteen wide column">
  <div class="item">
    <%= render partial: 'search' %>
  </div>
  <h1>Users</h1>
  <div id="grid">
    <%= render partial: "user_card", collection: @users, as: :user %>
  </div>
  <br>
  <div style="margin-left: 33%">
    <%= paginate @users, remote: true %>
  </div>
</div>