<div class="ten wide column">
<h1>Forgot your password?</h1>
</div>
<div class="ten wide column">
<div class="ui form">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'ui primary button' %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
