<%if notice %>
<div class="ui info message sixteen wide column" style="margin-top: 15px">
  <div class="header"><%= notice %></div>
</div>
<%end%>
<%if alert %>
  <div class="ui warning message sixteen wide column" style="margin-top: 15px">
  <div class="header">Oops! We found the following errors:</div>
  <ul class="list">
    <% if alert.is_a?(String) %>
    <li><%= alert %></li>
    <% else %>
      <% alert.each do |err|%>
        <li><%= err %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>