<nav>
<div class="ui secondary  menu">
  <%= link_to "- Merlos Snackstore - #{current_user.role_name if user_signed_in?}", root_path, class: 'item' %>
  <% if !user_signed_in? || current_user.regular?%>
    <%= link_to 'Cart', carts_path, class: 'item' %>
    <%= link_to 'All Users', users_path, class: 'item' %>
  <%end%>
  <% if user_signed_in? && current_user.admin?%>
    <%= link_to 'Orders Log', admin_orders_path, class: 'item' %>
    <%= link_to 'Product Log', admin_product_logs_path , class: 'item' %>
    <%= link_to 'New Product', new_admin_product_path , class: 'item' %>
  <%end%>
  <% if user_signed_in? && !current_user.regular?%>
    <%= link_to 'New User', new_admin_user_path , class: 'item' %>
    <%= link_to 'Not Approved Comments', admin_comments_not_approved_path , class: 'item' %>
  <%end%>
  <div class="right menu">
    <% if user_signed_in? %>
      <% if current_user.regular? %>
        <%= link_to('My Profile', current_user, class: 'item') %>
      <% else %>
        <%= link_to('My Profile', [:admin, current_user], class: 'item') %>
        <%= link_to 'All Users', admin_users_path, class: 'item' %>
      <% end %>
      <%= link_to('Log Out', logout_path, method: :delete, class: 'negative ui item') %>
    <% else %>
      <%= link_to('Log In', login_path, class: 'positve ui item') %>  
    <% end %>
    </div>
  </div>
</div>
</nav>