<div class="ten wide column">
<h1>Your Cart</h1>
</div>
<div class="ten wide column">
<% if @order_lines.any? %>
    <% @order_lines.each do |item| %>
      <div class="ui positive message">
        <div class="header"><%= item.product.name %></div>
        <%= link_to "Delete", item, data: {confirm: "Are you sure?", method: "delete"} %></p>
        <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
      </div>
  <% end %>
  <div class="ui warning message">
    <div class="header">Your Total: <%= number_to_currency @order.total %></div>
  </div>
  <%if user_signed_in? %>
    <%= form_for @order do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Merlos Snackstore"
        data-description="Your total shoppings"
        data-email="<%= current_user.email if user_signed_in? %>"
        data-amount="<%= @order.total_cents %>"
        data-locale="auto">
      </script>
    <% end %>
  <% end %>
  <%= link_to 'Cancel Order', order_path(@order.id), method: 'delete', data: {confirm: "Are you sure?"}, class: "negative ui button"%>

  <div class="ten wide column ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div id="comments">
    <%= render partial: 'comments/comment_block', collection: @comments, as: :comment %>
  </div>
  <% if user_signed_in? %>
    <%= render partial: 'comments/comment_form' %>
  <% end %>
  </div>
<% else %>
    <div class="ui warning message">
      <div class="header">Your shopping cart is empty.</div>
    </div>
<% end %>
</div>
