<div class="ten wide column">
<h1>Log In</h1>
</div>
<div class="ten wide column">
<div class="ui form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", required: true %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="inline field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'ui primary button' %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
