<div class="ten wide column">
<div class="ui form">
<%= form_for [:admin, @product] do |form| %>
  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku, disabled: current_user.support?, required: true %>
  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, required: true%>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 3, required: true%>
  </div>
  <div class="field five wide column">
    <%= form.label :price %>
    <%= form.number_field :price, min: 0, step: 0.01, disabled: current_user.support?, required: true %>
  </div>
  <div class="field five wide column">
    <%= form.label :stock %>
    <%= form.number_field :stock, min: 0 %>
  </div>
  <div class="inline field">
  <div class="ui toggle checkbox">
    <%= form.check_box :active %>
    <%= form.label :active %>
  </div>
  </div>
  <div class="inline field">
    <%= form.label :tags %>
    <% @tags.each do |tag| %>
       <label for="<%="tag_#{tag.id}"%>">
       <%= form.check_box :tag_ids, {multiple: true, id: "tag_#{tag.id}"}, tag.id, nil %>
       <%= tag.name %>
    <%end%>
  </div>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div class="actions">
    <%= form.submit class: 'ui primary button'%>
  </div>
<% end %>
</div>
</div>