<div class="ui people shape">
  <div class="ui card">
    <div class="image"><%= image_tag(product.image.variant(resize: "220x220!")) if product.image.attached? %></div>
    <div class="content">
      <div class="header">
      <%= link_to truncate(product.name, length: 50), admin_product_path(product), class: "ui small header" %>
      </div>
      <div class="meta"><%= number_to_currency product.price %> |
      <%= product.active? %> | 
      <%= product.stock %> In Stock </div>
      <div class="description"><%= truncate(product.description, length: 70) %></div>
    </div>
    <div class="extra content">
        <span class="right floated">
            Likes: <span id = "likes_for_product_<%= product.id %>">
            <%= product.cached_votes_up %></span>
            Dislikes: <span id = "dislikes_for_product_<%= product.id %>">
            <%= product.cached_votes_down %></span>
        </span>
      </div>
    <div class="extra content">
      <span class="right floated">       
        <%= link_to 'Edit', edit_admin_product_path(product), class: 'positive ui button' %>
        <%= link_to 'Destroy', admin_product_path(product), method: :delete, 
        data: { confirm: 'Are you sure?' }, class: 'negative ui button' if current_user.admin? %>
      </span>
    </div>
  </div>
</div>