(function init() {
  document.querySelector('#grid').innerHTML =
    '<%= escape_javascript(render(partial: "product_card", collection: @products, as: :product)) %>';
  document.querySelector('#sidebar').innerHTML =
    '<%= escape_javascript(render(partial: "sidebar")) %>';
  document.querySelector('#filterbar').innerHTML =
    '<%= escape_javascript(render(partial: "filterbar")) %>';
})()