<%= form_for :search, method: :get, remote: true  do |f|%>
  <div class="ui fluid icon input">
      <%= link_to "Clear", admin_users_path, remote: true, class: 'negative ui button' %>
    <%= f.text_field :name, placeholder: "Search Users...", autofocus: true %>
    <i class="search icon"></i>
  </div>
<%end%>