<div class="ui people shape">
  <div class="ui card">
    <div class="image"><img src=""></div>
    <div class="content">
      <div class="header">
      <%= link_to user.profile&.full_name || "Not Profiled", admin_user_path(user), class: "ui small header" %>
      </div>
      <div class="meta"> Joined <%= user.time_ago %> ago.</div>
      <div class="meta"><%= user.email %></div>
    </div>
    <div class="extra content">
      <span><i class="red heart icon"></i></span>
    </div>
    <div class="extra content">
      <span class="right floated">
        <% if !user.admin? && current_user.admin? %>
          <%= link_to 'Change Role', edit_admin_user_path(user), class: 'positive ui button' %>
          <%= link_to 'Destroy', admin_user_path(user), method: :delete, 
          data: { confirm: 'Are you sure?' }, class: 'negative ui button' %>
        <% end %>
        <% if user == current_user %>
          <%= link_to 'Settings', edit_my_profile_admin_user_path(current_user), class: 'positive ui button' %>
        <% end %>
      </span>
    </div>
  </div>
</div>