<div class="ten wide column">
<h1>Update My Profile</h1>
</div>
<div class="ten wide column">
<div class="ui form">
<%= form_for(@form, url: update_my_profile_admin_user_path, method: :put) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true  %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.phone_field :phone, required: true %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.phone_field :address, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Update Profile", class: 'ui primary button' %>
  </div>
<% end %>
