<div class="ten wide column">
<h1><%= "#{@user.profile_first_name} #{@user.profile_last_name}"%></h1>
</div>
<div class="ten wide column">
<div class="ui form">
<%= form_for [:admin, @user] do |f| %>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, @role_options, class: "ui dropdown"%>
  </div>

  <div class="actions">
    <%= f.submit "Update User", class: 'ui primary button' %>
  </div>
<% end %>
