<div class="ten wide column">
<h1>New User</h1>
</div>
<div class="ten wide column">
<div class="ui form">
<%= form_for [:admin, @user] do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
  </div>
  <% if current_user.admin? %>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.select :role, @role_options, class: "ui dropdown"%>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Create User", class: 'ui primary button' %>
  </div>
<% end %>
</div>
</div>
