<div class="ten wide column">
<h1>User Details</h1>
</div>
<div class="ten wide column" id="profile">
  <%= render partial: "user_card", locals: {user: @user} %>
</div>
<div class="ten wide column ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div id="comments">
    <%= render partial: 'comments/comment_block', collection: @comments, as: :comment %>
  </div>
  <% if user_signed_in? %>
    <%= render partial: 'comments/comment_form' %>
  <% end %>
</div>
</div>