<div class="ui text menu">
  <div class="header item">Filter By</div>
  <%= link_to "Name", root_path(
    search: {
      tag: (params[:search][:tag] rescue nil),
      name: (params[:search][:name] rescue nil)
      }, 
    filter: 'name'
    ), remote: true, class: "item"%>
  <%= link_to "Popularity", root_path(
    search: {
      tag: (params[:search][:tag] rescue nil), 
      name: (params[:search][:name] rescue nil)
      }, 
    filter: 'vote'
      ), remote: true, class: "item"%>
</div>