<div class="ui people shape">
  <div class="ui card">
    <div class="image"><%= image_tag(product.image.variant(resize: "220x220!")) if product.image.attached? %></div>
    <div class="content">
      <div class="header">
      <%= link_to truncate(product.name, length: 50), product, class: "ui small header" %>
      </div>
      <div class="meta"><%= number_to_currency product.price %> |
      <%= product.stock %> In Stock</div>
      <div class="description"><%= truncate(product.description, length: 70) %></div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <%if user_signed_in?%>
          <%= link_to 'Like', like_product_path(product), method: :put, remote: true %>
          <span id = "likes_for_product_<%= product.id %>">
          <%= product.cached_votes_up %></span>
          <%= link_to 'Dislike', dislike_product_path(product), method: :put, remote: true %>
          <span id = "dislikes_for_product_<%= product.id %>">
          <%= product.cached_votes_down %></span>
        <%else%>
          Likes: <span id = "likes_for_product_<%= product.id %>">
          <%= product.cached_votes_up %></span>
          Dislikes: <span id = "dislikes_for_product_<%= product.id %>">
          <%= product.cached_votes_down %></span>
        <%end%>
      </span>
    </div>
    <div class="extra content">
      <span>
        <%= form_for @order_line do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          Quantity: <%= f.number_field :quantity, min: 1, style: "width: 50px" %>
          <%= f.submit "+Add to cart", class: "ui primary button" %>
        <% end %>
      </span>
    </div>
  </div>
</div>