<aside>
<div class="ui vertical secondary menu">
<h1 style="margin-top: 50px">Tags</h1>
<%@tags.each do |tag|%>
  <%= link_to tag.name, products_path(
    search: {
      tag: tag.name,
      name: (params[:search][:name] rescue nil)
      }), 
      remote: true, class: 'item'%>
<%end%>
</div>
</aside>