<div id="sidebar" class="two wide column">
  <%= render partial: "sidebar" %>
</div>
<div class="fourteen wide column">
  <div class="item">
    <%= render partial: 'search' %>
  </div>
  <h1>Products</h1>
  <div id="filterbar">
    <%= render partial: "filterbar" %>
  </div>
  <div id="grid">
    <%= render partial: "product_card", collection: @products, as: :product %>
  </div>
  <br>
  <div style="margin-left: 33%">
    <%= paginate @products, remote: true %>
  </div>
</div>