(function init() {
  document.querySelector("#likes_for_product_<%= @product.id %>")
    .innerHTML = "<%= @product.get_upvotes.size %>";
  document.querySelector("#dislikes_for_product_<%= @product.id %>")
    .innerHTML = "<%= @product.get_downvotes.size %>";
})()